@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Handlee&family=Unkempt:wght@400;700&display=swap');

@import 'tailwindcss';

:root {
    --background: #f7f3df;
    --foreground: #23452f;
    --leaf: #5fa777;
    --leaf-dark: #2f6f46;
    --lily: #f7bfd8;
    --cream: #fffdf6;

    --font-body: var(--font-body);
    --font-heading: var(--font-heading);
}

body {
    margin: 0;
    background: #f7f3df;
    color: var(--foreground);
    font-family: var(--font-body);
}

body,
button,
span,
input,
textarea,
select,
p {
    font-family: Unkempt, sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: DynaPuff, sans-serif;
    font-weight: 800;
    letter-spacing: 0.5px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f7f3df;
}

::-webkit-scrollbar-thumb {
    background: #9bcf7a;
    border-radius: 999px;
    border: 3px solid #f7f3df;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #b7dc90, #82b366, #6aa455);
    transform: scale(1.15);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #82b366 #f7f3df;
}
